body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    color: #fff;
}

.container {
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    transition: 0.3s all;
}

.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.container {
    /* ... existing styles ... */
    animation: fadeIn 0.5s ease;
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

.buttons button:hover {
    /* ... existing styles ... */
    transform: scale(1.05);
}

.back-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 10px; /* To increase the clickable area */
    box-sizing: content-box; /* Makes sure padding doesn't affect the size of the icon */
    transition: transform 0.2s ease; /* Smoothens the hover effect */
}

.back-icon:hover {
    transform: scale(1.1); /* Slight zoom on hover for feedback */
}
